html {
  font-size: 16px;
}

body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

input,
button,
select,
textarea {
  font: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  width: 100%;
  height: 100%;
}

.header_logo {
  width: 120px;
  aspect-ratio: 120/40;
  position: absolute;
  top: 30px;
  right: 30px;
}

.header_img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 0% 0%;
}
@media screen and (max-width: 896px) {
  .header_img {
    object-position: 50% 0%;
  }
}

.magazine {
  margin: 80px 0;
}

.inner {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}

.magazine_title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.magazine_text {
  text-align: center;
  margin-bottom: 40px;
}

.magazin_img-group {
  display: flex;
}
@media screen and (max-width: 896px) {
  .magazin_img-group {
    flex-direction: column;
  }
}

.archive_box {
  position: relative;
}

.archive_img {
  width: 510px;
  margin-right: 21px;
}

.archive_area {
  width: 290px;
  height: 93px;
  text-align: center;
  background-color: rgba(115, 115, 115, 0.7);
  position: absolute;
  top: 40.5%;
  left: 22%;
}
@media screen and (max-width: 896px) {
  .archive_area {
    top: 40%;
    left: 6%;
  }
}

.archive-title {
  color: #ffffff;
}

.archive_text {
  color: #ffffff;
}

.new_box {
  position: relative;
}

.new_img {
  width: 510px;
}

.new_area {
  width: 290px;
  height: 93px;
  text-align: center;
  background-color: rgba(115, 115, 115, 0.7);
  position: absolute;
  top: 40.5%;
  left: 22%;
}
@media screen and (max-width: 896px) {
  .new_area {
    top: 40%;
    left: 6%;
  }
}

.new-title {
  color: #ffffff;
}

.new-text {
  color: #ffffff;
}

.fashion {
  height: 520px;
  background-color: #F8F8F8;
  text-align: center;
  margin-bottom: 80px;
}

.fashion_title {
  padding: 60px 0 20px;
}

.fashion_text {
  padding-bottom: 30px;
}

.fushion_link {
  padding: 14px 36px;
  border: 1px solid #2A2A2A;
  color: #24292E;
}

.container {
  background-color: #F5F5F5;
  padding: 60px 0;
}

.catarog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
@media screen and (max-width: 896px) {
  .catarog {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.catarog_img_box {
  width: 48%;
}
@media screen and (max-width: 896px) {
  .catarog_img_box {
    width: 100%;
    margin-bottom: 60px;
  }
}

.catalog_box {
  width: 48%;
}
@media screen and (max-width: 896px) {
  .catalog_box {
    width: 100%;
  }
}

.catalog_title {
  padding-bottom: 40px;
  text-align: center;
}

.catalog_text {
  font-size: 0.875rem;
  padding-bottom: 30px;
}

.antique {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 896px) {
  .antique {
    flex-direction: column;
  }
}

.antique_box {
  width: 48%;
}
@media screen and (max-width: 896px) {
  .antique_box {
    width: 100%;
  }
}

.antique_title {
  padding-bottom: 40px;
  text-align: center;
}

.antique_text1 {
  font-size: 0.875rem;
  margin-bottom: 30px;
}

.antique_text2 {
  font-size: 0.875rem;
  margin-bottom: 60px;
}

.antique_link_box {
  text-align: center;
  margin-bottom: 60px;
}

.antique_link {
  font-size: 0.75rem;
  color: #24292E;
  border: 1px solid #2A2A2A;
  padding: 13px 36px;
  text-align: center;
}

.antique_img_box {
  width: 48%;
}
@media screen and (max-width: 896px) {
  .antique_img_box {
    width: 100%;
  }
}

.footer {
  background-color: #333333;
  color: #ffffff;
}

.footer_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 336px;
}
@media screen and (max-width: 896px) {
  .footer_block {
    height: 436px;
    flex-direction: column;
  }
}

@media screen and (max-width: 896px) {
  .footer_logo_box {
    align-items: center;
    margin-top: 30px;
  }
}

.footer_logo {
  width: 120px;
}
@media screen and (max-width: 896px) {
  .footer_logo {
    width: 120px;
    text-align: center;
  }
}

@media screen and (max-width: 896px) {
  .footer_list {
    width: 100%;
  }
}

.footer_title {
  font-size: 1rem;
  line-height: 1.125;
}

.footer_ul_list {
  font-size: 0.75rem;
  list-style: disc;
}
.footer_ul_list li {
  margin-left: 13px;
  line-height: 2;
}

.footer_text {
  width: 29.666%;
}
@media screen and (max-width: 896px) {
  .footer_text {
    width: 100%;
    margin-bottom: 60px;
  }
}

.footer_about {
  font-size: 0.75rem;
  line-height: 2;
}

.footer_copylite {
  text-align: center;
  padding: 30px 0;
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */