@use "./base/base";
@use "./base/reset";
@use "./global" as *;


.header {
  width: 100%;
  height: 100%;
}

.header_logo {
  width: 120px;
  aspect-ratio: 120 / 40;
  position: absolute;
  top: 30px;
  right: 30px;
}

.header_img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 0% 0%;
}

.magazine {
  margin: 80px 0;
}

.inner {
 max-width: 1200px;
 padding: 0 5%;
 margin: 0 auto;
}

.magazine_title {
font-size: 24px;
font-weight: $bold;
text-align: center;
margin-bottom: 20px;
}

.magazine_text {
text-align: center;
margin-bottom: 40px;
}

.magazin_img-group {
  display: flex;  
}

.archive_box {
position: relative;
}

.archive_img {
width: 510px;
margin-right: 21px;
}


.archive_area {
width: 290px;
height: 93px;
text-align: center;
background-color: rgb(115,115,115,0.7);
position: absolute;
top: 40.5%;
left: 22%;
}

.archive-title {
  color: $white1;
}

.archive_text {
color: $white1;
}

.new_box {
  position: relative;
}

.new_img {
  width: 510px;
}

.magazine_new {

}

.new_area {
  width: 290px;
height: 93px;
text-align: center;
background-color: rgb(115,115,115,0.7);
position: absolute;
top: 40.5%;
left: 22%;
}

.new-title {
  color: $white1;
}

.new-text {
  color: $white1;
}
